@page "/questions-designer"

@using Quiz.Contracts;
@using Quiz.WebUi.ApiClients;
@using System.ComponentModel.DataAnnotations; @*//*@
@using Models;
@inject IQuizApiClient  QuizApiClient;  //property in class QuestionDesginer. Początkowo nie wie mój qestions designer co zrobić. Muszę "połączyć" IQuizApiClient z  HttpQuizApiClient(który ma zawarty ten interfejs). To połączenie jest zrobione poprzez services w klasie program.//
@inject ILogger<QuestionsDesigner> Logger //

<PageTitle>Questions Designer</PageTitle>



<style>
    .checkbox-design{
        height:30px; width:30px
    }
</style>
<style>
    .input-container {
        display: flex;
        width: 100%;
        margin-bottom: 10px;
    }
</style>

<h1>Questions Designer</h1>

<div class="container">
    <div class="row">
        <div class="col text-xxl-start">

         
<EditForm Model="@_questionModel" OnValidSubmit="@HandleValidSubmit">     
    
    <p>
                    @if (_modifyMode == false)
                    {
                        <span style="font-weight: bold;">Enter content of Your question</span>
                    }
                    else
                    {
                        <span style="font-weight: bold;">
                            Make changes to the question and press "Save". If you've changed your mind and don't' want to make changes - also click "Save", the question will remain unchanged.
                        </span>
                        <br />
                        <span style="font-weight: bold;">Enter content of Your question</span>
                    }
                    <br />
        <InputText id="question"  @bind-Value="_questionModel.Question" />
    </p>
    <p>
        <span style="font-weight: bold;">Choose how many points you can get in this question</span>
        <br />
        <input type="number" additionalatributes max="10" min="1" @bind-value="_questionModel.Points" />
    </p>
  
        <p>
        <span style="font-weight: bold;">Select question category</span>
        <br />
        <InputSelect @bind-Value="_questionModel.Category">
      
            <option value="default" disabled selected>Select a category</option>
            @if(_listOfCategories !=null)
                foreach (var cat in _listOfCategories)
                {
                    <option value="@cat.ID">@cat.Name</option>
                }
        </InputSelect>
    </p>
    
    <p>
        <span style="font-weight: bold;">Select whether the question is single-choice or multiple-choice</span>
        <br />
        <InputSelect @bind-Value="_questionModel.SelectionMultiplicity">
            <option value="@AnswerMultiplicity.Single" selected >Single</option>
            <option value="@AnswerMultiplicity.Multiple">Multiple</option>
        </InputSelect>
    </p>
    

    <DataAnnotationsValidator />
    <ValidationSummary />
    <br />
    <button type="submit" style="font-weight: bold" class="btn btn-info">Save</button>
</EditForm>


 
<EditForm Model="@_answerModel" OnValidSubmit="@HandleValidAnswerSubmit">
    
    @if (_answers == true)
    {      
        <p>
            <span style="font-weight: bold;">Add answers to your question. Check the box if it is correct answer</span>
        </p>
        @if(_allFalse == true)
        {
            <span style="font-weight: bold; color: red;">Your question does not have a correct answer yet</span>
        }
        <p>
            <span style="font-weight: bold;">Question: @_questionContentAboveAnswersList </span>
        </p>
        <InputText id="answer" @bind-Value="_answerModel.Answer" />

        @if(_anyTrue == false)
        {
            <input type="checkbox" class="checkbox-design" @bind-value="_answerModel.IsCorrect" />
        }
        else
        {
            _answerModel.IsCorrect = false;
            <input type="checkbox" class="checkbox-design" disabled @bind-value="_answerModel.IsCorrect " />
        }

        <br />
        <button type="submit" style="font-weight: bold" class="btn btn-info">Add answer</button>
        <DataAnnotationsValidator />
        <ValidationSummary />
    }
</EditForm>

@if (_answers == true)
{
    
    @if (_listOfAnswers == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        var answersCounting = 1;
                    <table class="table table-striped table-bordered">
            <thead>
                <tr>
                        <th style="width: 10%; text-align: center;">No.</th>
                        <th style="width: 70%; text-align: center;">Answer Content</th>
                        <th style="width: 10%; text-align: center;">Is Correct?</th>
                        <th style="width: 10%; text-align: center;">Remove</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var correct = "Yes";
                    var notCorrect ="No";
                    _anyTrue = false;
                    _allFalse = true;

                }


                    @foreach (var answer in _listOfAnswers) //this is to check if at least one answer is correct (no matter if it is single or multiple-choice)
                {
                    if(answer.IsCorrect == true)
                    {
                        _allFalse = false;
                    }
                }

                @foreach (var answ in _listOfAnswers)
                {
                    if (_questionMultiplicity == AnswerMultiplicity.Single)
                    {
                        if (answ.IsCorrect == true)
                        {
                            _anyTrue = true;
                        }                    
                     }
                    else
                    {
                        _anyTrue = false;
                    }
                                <tr>
                                <td style="text-align: center;">@(answersCounting++)</td>
                                <td>@answ.AnswerContent</td>
                                <td style ="text-align: center;">@(answ.IsCorrect ? correct : notCorrect)</td>
                                <td style="text-align: center;"><button @onclick="() => DeletingAnswerAsync(answ.QeGuid, answ.AnswGuid)"><i class="oi oi-trash"></i></button></td>
                        ```</tr>
                   
                }
                

            </tbody>
        </table>
    }
}
        </div>

<div class="col">
    <div>
                <span style="font-weight: bold;">List of questions</span>
    </div>
            <div class="input-container">
<InputSelect @bind-Value="_category"  @oninput="OnCategoryChange">
    <option value="history">History</option>
    <option value="chemistry">Chemistry</option>
    <option value="mathematics">Mathematics</option>
    <option value="music">Music</option>
    <option value="information technology">Information technology</option>
</InputSelect>
              
                <input type="text" placeholder="Search"  @bind-value="@_searchString" @oninput="OnSearchStringChange" />
</div>

 @if (_listOfQuestions == null)
    {
    <p><em>Loading...</em></p>
}
else
{   
    
    var questionCounting = 1 + _pageIndex * 10;
                <table class="table table-striped table-bordered">
        <thead>
            <tr>               
                <th style="width: 10%; text-align: center;">No.</th>
                <th style="width: 10%;  text-align: center;">Modify</th>
                <th style="width: 70%;  text-align: center;">Question content</th>
                <th style="width: 10%;  text-align: center;">Remove</th>
            </tr>
        </thead>
        <tbody>

            @{
                var count = _listOfQuestions.Count;
                if (_listOfQuestions.Count > PageSize)
                { count = PageSize; }
            }

            
            @for (int i = 0; i < count; i++)

            {
                var id = _listOfQuestions[i].Guid;
                <tr>                  
                        <td style="text-align: center;">@(questionCounting++)</td>
                        <td style="text-align: center;"><button @onclick="() => SetModifyMode(id)"><i class="oi oi-check"></i></button></td>
                        <td>@_listOfQuestions[i].QuestionContent</td>
                        <td style="text-align: center;"><button @onclick="async() =>
                            {
                                
                           await DeletingQuestionWithAssignedAnswers(id);
                            }"><i class="oi oi-trash"></i></button></td>
                    </tr>          
                }     
            </tbody>
          

        </table>
                <div style="display: flex; justify-content: center;">
                    @if (_pageIndex > 0)
                    {

                        <input type="button" style="font-weight: bold" class="btn btn-info" value="Back" @onclick="PreviousPageAsync" />
                    }
                    else
                    {
                        <input type="button" style="font-weight: bold" class="btn btn-info" value="Back" disabled />
                    }

                    @if (_listOfQuestions.Count != 0)
                    {


                        if (_listOfQuestions.Count > PageSize)
                        {
                            <input type="button" style="font-weight: bold" class="btn btn-info" value="Next" @onclick="NextPageAsync" />
                        }
                        else
                        {
                            <input type="button" style="font-weight: bold" class="btn btn-info" value="Next" disabled />
                        }
                    }
                </div>
}
        </div>
    </div>
</div>


@code {

    private Guid _returnedguid;
    private bool _answers = false;
    private string _category = "history";
    private string _searchString = string.Empty;
    private int _pageIndex = 0;
    private const int PageSize = 10;
    private string _questionContentAboveAnswersList = string.Empty;
    private AnswerMultiplicity _questionMultiplicity;
    private bool _anyTrue = false;
    private bool _allFalse = true;
    private bool _modifyMode = false;



    private List<QuestionInfo> _listOfQuestions;
    private List<CategoryInfo> _listOfCategories;
    private List<GetAllInfosAboutAnswer> _listOfAnswers;
    private QuestionInfo _questionInfo;



    private async Task OnCategoryChange(ChangeEventArgs e)
    {
        _pageIndex = 0;
        _category = e.Value.ToString();
        await GetQuestionsAsync();
    }

    private async Task OnSearchStringChange(ChangeEventArgs e)
    {
        _pageIndex = 0;
        _searchString = e.Value.ToString();
        await GetQuestionsAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        await GetQuestionsAsync();
        await GetCategoriesAsync();
        _anyTrue = false;

    }

    private async Task PreviousPageAsync()
    {
        _pageIndex -= 1;
        await GetQuestionsAsync();

    }

    private async Task NextPageAsync()
    {
        _pageIndex += 1;
        await GetQuestionsAsync();

    }

    private QuestionModel _questionModel = new QuestionModel();


    //Button Save function (HandleValidSubmit) depends on _modifyMode.
    //The "SetModifyMode" function changes _modifyMode to true. Then, the data from the selected question is substituted into the fields for entering information about the question.
    //You can modify them and click save, then the change will go to the data base. _modifyMode will then be ==false,
    //so the Save button will have the function of adding a question, not modifying.
    //The list of answers is displayed for the question that was modified. After adding a new question,
    //you will be able to add an answer to the new question and the new list will be displayed.
    private async Task HandleValidSubmit()
    {
        Logger.LogInformation("Handlesubmit called");
        if (_modifyMode == false)
        {         
            await AddQuestionAsync();
            await GetListOfAnswersAsync(_questionModel.ID);
        }
        else
        {        
            await ModifyQuestionAsync(_questionModel.ID);     
            _modifyMode = false;
        }
        _questionContentAboveAnswersList = _questionModel.Question;
        _questionModel.Question = string.Empty;
        _questionModel.Points = 1;
        _questionModel.Category = "default";
        _questionMultiplicity = _questionModel.SelectionMultiplicity;
        //_questionModel.SelectionMultiplicity = AnswerMultiplicity.Single;
        _answers = true;
        await GetQuestionsAsync();
        _answerModel.Answer = string.Empty;

    }


    private AnswerModel _answerModel = new();

    private async Task HandleValidAnswerSubmit()
    {
        Logger.LogInformation("Handlesubmit called");
        await AddingAnswerOnButtonClickedAsync();
        _answerModel.Answer = string.Empty;


    }


    public QuestionsDesigner()
    {
        _returnedguid = Guid.Empty;
        _listOfQuestions = new List<QuestionInfo>();
        _listOfAnswers = new List<GetAllInfosAboutAnswer>();
        _questionInfo = new QuestionInfo();
    }



    private async Task AddingAnswerOnButtonClickedAsync()
    {
        await AddQuestionAnswerAsync();
        await GetListOfAnswersAsync(_questionModel.ID); //
    }

    private async Task DeletingAnswerAsync(Guid questionID, Guid answerID)
    {

        await DeleteAnswerAsync(questionID, answerID);
        await GetListOfAnswersAsync(_questionModel.ID); //

    }
    private async Task DeletingQuestionWithAssignedAnswers(Guid questionID)
    {

        await DeleteQuestionAsync(questionID);
        await GetQuestionsAsync();
    }

    private async Task SetModifyMode(Guid questionID) 
    {
        await GetQuestionInfoAsync(questionID);
        _modifyMode = true; ///// important
        _questionModel.ID = questionID;
        _questionModel.Question = _questionInfo.QuestionContent;
        _questionContentAboveAnswersList = _questionInfo.QuestionContent;
        _questionModel.Category = _questionInfo.Category;
        _questionModel.Points = _questionInfo.Points;
        _questionModel.SelectionMultiplicity = _questionInfo.AnswerMultiplicity;
        _questionMultiplicity = _questionModel.SelectionMultiplicity;
        _answers = true;
        await GetQuestionsAsync();
        await GetListOfAnswersAsync(questionID);
       

    }

   
  



    //Below: QuizApiClient methods


    private async Task AddQuestionAsync()
    {
        _questionModel.ID = await QuizApiClient.AddQuestionAsync(_questionModel.Question, _questionModel.Points, _questionModel.Category, _questionModel.SelectionMultiplicity);  //metoda dodaje pytanie i zwraca też guida. guid pod prywatne pole, bo będzie potrzebny do dodawania odpowiedzi

    }

    private async Task AddQuestionAnswerAsync()
    {

        await QuizApiClient.AddQuestionAnswerAsync(_questionModel.ID, _answerModel.Answer, _answerModel.IsCorrect);  ////
    }

    private async Task DeleteAnswerAsync(Guid questionID, Guid answerID)
    {
        await QuizApiClient.DeleteAnswer(questionID, answerID);
    }

    private async Task DeleteQuestionAsync(Guid questionID)
    {
        await QuizApiClient.DeleteQuestion(questionID);   
    }

    private async Task GetListOfAnswersAsync(Guid questionID)
    {
        _listOfAnswers = await QuizApiClient.GetListOfAnswersAsync(questionID);
    }

    private async Task GetQuestionsAsync()
    {

        _listOfQuestions = await QuizApiClient.GetQuestionsAsync(_category, _pageIndex * PageSize, PageSize + 1, _searchString);
    }

    private async Task GetCategoriesAsync()
    {
        _listOfCategories = await QuizApiClient.GetCategoriesAsync();
    }

    private async Task GetQuestionInfoAsync(Guid questionID)
    {
        _questionInfo = await QuizApiClient.GetQuestionInfo(questionID);
    }

    private async Task ModifyQuestionAsync(Guid questionID)
    {
        await QuizApiClient.ModifyQuestionAsync(questionID,_questionModel.Question, _questionModel.Points, _questionModel.Category, _questionModel.SelectionMultiplicity);
    }



    }


    
   





