
@page "/test"
@using Quiz.Contracts;
@using Quiz.WebUi.ApiClients;
@inject IQuizApiClient QuizApiClient;

<PageTitle>Test</PageTitle>

<h1>Quiz</h1>

<style>
    .select-input {
        border: 2px solid black;
        border-radius: 0;
        padding: 8px;
        font-size: 18px;
        width: 250px;
        height: 100px;
        background-color: #EAF5FF;
        color: black;
        font-weight: bold;
    }

        .select-input option {
            font-size: 18px;
            color: black;
            background-color: #EAF5FF;
            font-weight: bold;
        }

            .select-input option:nth-child(even) {
                background-color: #D6EBFF;
            }

    .frame {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 16px;
        background-color: #f5f5f5;
        flex-direction: column;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .frame-title {
        font-weight: bold;
        margin-bottom: 16px;
        text-align: left;
    }

    .frame-left {
        text-align: left;
        margin-right: 16px;
    }

    .frame-center {
        text-align: center;
    }
</style>
@*///*@
<style>
    input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid #ccc;
        border-radius: 3px;
        display: inline-block;
        width: 16px;
        height: 16px;
        position: relative;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        background-color: white;
    }

        input[type="radio"]:checked::before {
            content: "\2714";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            line-height: 16px;
        }
</style>

<style>
    .checkbox-design2 {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid #ccc;
        border-radius: 3px;
        display: inline-block;
        width: 16px;
        height: 16px;
        position: relative;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        background-color: white;
    }

    input[type="checkbox"]:checked::before {
        content: "\2714";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        line-height: 16px;
    }

</style>

@if (_startMode)
{
    <div class="frame">
        <div class="frame-left">
            <span class="frame-title">
                Hi!<br>
                Try your hand at taking the quiz. Select a question category.<br>
                If you want to take a test from several categories - select them with the mouse, pressing Ctrl on the keyboard.
            </span>
        </div>

        <div class="frame-center">
            <div style="margin-top: 10px;">
                <div class="centered">
                    <InputSelect class="select-input" @bind-Value="_selectedCategories">
                        @if (_listOfCategories != null)
                        {
                            @foreach (var cat in _listOfCategories)
                            {
                                <option value="@cat.ID">@cat.Name</option>
                            }
                        }
                    </InputSelect>
                </div>

                <p style="margin-top: 10px;">
                    <div class="centered">
                        <input type="button" style="font-weight: bold;" class="btn btn-info" value="Create new test" @onclick="CreateTestOnClick" />
                    </div>
                </p>
            </div>
        </div>
    </div>
}

@if (_testGeneratedButNotStarted && !_startMode)
{
    <input type="button" style="font-weight: bold;" class="btn btn-info" value="Start" @onclick="StartTest" />
}

@if( _testMode && !_testGeneratedButNotStarted && !_startMode)
{

    <span style="font-weight: bold;">@_TestQ.QuestionContent</span>
    <br />
    <span style="font-weight: bold;">@_TestQ.AnswerMultiplicity.ToString()</span>
    <br />

    @if (_listOfQuestionAnswers == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table table-striped table-bordered">
            <thead>
                <tr>                   
                    <th style="width: 70%; text-align: center;">Answer Content</th>
                    <th style="width: 10%; text-align: center;">Select</th>                
                </tr>
            </thead>
            <tbody>

                @foreach (var answ in _listOfQuestionAnswers)
                {
                    <tr>                 
                        <td style="text-align: center;">
                            <input type="text" @bind-value="@answ.AnswerContent" />
                        </td>
                        <td style="text-align: center;">
                            @if (_TestQ.AnswerMultiplicity == AnswerMultiplicity.Single)
                            {
                                <input type="radio" name="IsSelected" checked="@answ.IsSelected" class="checkbox-design2" @onchange="() => ChangeAnswerSelection(answ)" />
                            }
                            else
                            {
                                <input type="checkbox" name="IsSelected" checked="@answ.IsSelected" class="checkbox-design2" @onchange="() => ChangeAnswerSelection(answ)" />
                            }
                        </td>

                    </tr>
                }


            </tbody>
        </table>
    }
   
    

    @if (_testPageIndex > 0)
    {

        <input type="button" style="font-weight: bold" class="btn btn-info" value="Back" @onclick="PreviousTestPageAsync" />
    }
    else
    {
        <input type="button" style="font-weight: bold" class="btn btn-info" value="Back" disabled />
    }



    if (_testPageIndex < _countOfQuestions - 1)
    {
        <input type="button" style="font-weight: bold" class="btn btn-info" value="Next" @onclick="NextTestPageAsync" />
    }
    else
    {
        <input type="button" style="font-weight: bold" class="btn btn-info" value="Next" disabled />

    }

}


@code{

    private List<CategoryInfo> _listOfCategories;
    private string [] _selectedCategories= new string[0];
    private Guid _testGuid;
    private int _testPageIndex = 0;
    //private const int TestSize = 10;
    private int _countOfQuestions = 0;
    private List<TestQuestionAnswerBody> _listOfQuestionAnswers;

    private bool _startMode = true;
    private bool _testGeneratedButNotStarted;  // it will be false after pressing the "start" button, which will start the test
    private bool _testMode;

    private TestQuestionBody _TestQ;


    public Test()
    {
        _TestQ = new TestQuestionBody();

    }

    protected override async Task OnInitializedAsync()
    {
        await GetCategoriesAsync();
    }

    private async Task CreateTestOnClick()
    {
        await CreateTestAsync();
        _startMode = false;                //false until the test is canceled or the test is completed and you can return to the "start page"
        _testGeneratedButNotStarted = true;

    }
    private async Task StartTest()   
    {
        await StartTestAsync();
        await GetQuestionsCountAsync();
        await GetTestQuestionAsync();
        await GetListOfQuestionAnswers();
        _testGeneratedButNotStarted = false;
        _testMode = true;


    }

    private async Task PreviousTestPageAsync()
    {
        _testPageIndex -= 1;
        await GetTestQuestionAsync();
        await GetListOfQuestionAnswers();
    }

    private async Task NextTestPageAsync()
    {
        _testPageIndex += 1;
        await GetTestQuestionAsync();
        await GetListOfQuestionAnswers();
    }


    //QuizApiClient methods below
    private async Task GetCategoriesAsync()
    {
        _listOfCategories = await QuizApiClient.GetCategoriesAsync();
    }


    private async Task CreateTestAsync()
    {
        _testGuid =  await QuizApiClient.CreateTestAsync(_selectedCategories.ToList());
    }

    private async Task ChangeAnswerSelection(TestQuestionAnswerBody testQuestionAnswerBody)
    {
        if (_TestQ.AnswerMultiplicity == AnswerMultiplicity.Single || (_TestQ.AnswerMultiplicity == AnswerMultiplicity.Multiple && testQuestionAnswerBody.IsSelected == false))
        {
            var body = new AddAnswerToTestAnswersBody(testQuestionAnswerBody.AnswGuid);
            await AddAnswerToTestAnswers(body);
            await GetListOfQuestionAnswers();
        }
        else
        {
            await DeleteAnswerFromTestAnswers(testQuestionAnswerBody);
            await GetListOfQuestionAnswers();
        }


    }



    private async Task GetTestQuestionAsync()
    {
        _TestQ = await QuizApiClient.GetTestQuestionAsync(_testGuid, _testPageIndex);
    }

    private async Task GetQuestionsCountAsync()
    {
        _countOfQuestions = await QuizApiClient.GetQuestionsCountAsync(_testGuid);
    }

    private async Task StartTestAsync()
    {
        await QuizApiClient.StartTestAsync(_testGuid);
    }

    private async Task GetListOfQuestionAnswers()
    {
        _listOfQuestionAnswers =  await QuizApiClient.GetListOfQuestionAnswers(_testGuid, _TestQ.QGuid);
    }

    private async Task AddAnswerToTestAnswers(AddAnswerToTestAnswersBody addAnswerToTestAnswersBody)
    {
        await QuizApiClient.AddAnswerToTestAnswers(_testGuid, _TestQ.QGuid, addAnswerToTestAnswersBody.AnswGuid);
    }
    private async Task DeleteAnswerFromTestAnswers(TestQuestionAnswerBody testQuestionAnswerBody)
    {
        await QuizApiClient.DeleteAnswerFromTestAnswers(_testGuid, _TestQ.QGuid, testQuestionAnswerBody.AnswGuid);
    }


}